
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
//variables 
$main-bg: rgba(255, 255, 255, 1);
$secundary-bg: rgba(246, 246, 246, 0.2);
$card-border: rgba(0, 17, 34, 0.1);
$h1-color: rgba(0, 17, 34, .8);
$h3-color: rgba(0, 17, 34, .2);
$hover-color: rgba(246, 246, 246, 1);
$header-height: 80px;


